* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gridWrapperIndex {
    display: grid;
    width: 100vw;
    height: 1000px;
    grid-template-areas: 
    "he he he he he"
    "s1 s1 s1 s1 s1"
    "s1 s1 s1 s1 s1"
    "s1 s1 s1 s1 s1"
    "s1 s1 s1 s1 s1"
    "s1 s1 s1 s1 s1"
    "s1 s1 s1 s1 s1"
    "fo fo fo fo fo"
;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(8, 1fr);
}

header {
    grid-area: he;
    background: yellow;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    width: 450px;
    height: auto;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

#link_list {
    list-style: none;
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.meny_link {
    text-decoration: none;
    color: black;
    font-family:'Times New Roman', Times, serif; 
    /* change font later */
    font-size: 20px;
}

.meny_link:hover {
    font-weight: bold;
}

.hamburger_line {
    background: black;
    height: 7px;
    width: 50px;
    margin: 5px;
    border-radius: 10px;
}

footer {
    grid-area: fo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: turquoise;
}