* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gridWrapperIndex {
    display: grid;
    width: 100vw;
    grid-template-areas: 
    "he he he he he"
    "s1 s1 s1 s1 s1"
    "s1 s1 s1 s1 s1"
    "fo fo fo fo fo"
;
grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
grid-template-rows: 100px minmax(100px, 1fr) 150px;
}

header {
    grid-area: he;
    background: rgb(7, 8, 9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffcc;
}

nav {
    display: flex;
    width: 450px;
    height: auto;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
}

#link_list {
    list-style: none;
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.meny_link {
    text-decoration: none;
    color: #ffffcc;
    font-family:'Times New Roman', Times, serif; 
    /* change font later */
    font-size: 20px;
}

.meny_link:hover {
    font-weight: bold;
    text-decoration: underline;
}

.hamburger_line {
    background: #ffffcc;
    height: 7px;
    width: 50px;
    margin: 5px;
    border-radius: 10px;
}

#welcome_landing {
    grid-area: s1;
    display: grid;
    grid-template-areas: 
    "s2"
    "s3"
    ;
}
#section1 {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-image: linear-gradient(red, yellow);
    height: 300px;
}

#boka_bord {
    text-decoration: none;
    color: black;
    height: 20px;
    width: 50px;
    outline: purple;
    background: pink;
}

#boka_bord:hover {
    font-weight: bold;
    color: black;
}

h1 {
    font-size: 50px;
}

#section2 {
    grid-area: s3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    background: #49111C;
}

#food_pictures {
    display: flex;
    width: 1000px;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

footer {
    grid-area: fo;
    display: flex;
    padding: 20px;
    align-items: top;
    justify-content: space-between;
    background: rgb(7, 8, 9);
}

.meny_img {
    width: 200px;
    height:300px;
    margin: 10px;
}

#gridWrapperMeny {
    display: grid;
    width: 100vw;
    grid-template-areas: 
    "he he he he"
    "s1 s1 s1 s1"
    "di s4 s4 s4"
    "di s4 s4 s4"
    "d2 d2 d2 d2"
    "fo fo fo fo"
;
grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
grid-template-rows: 100px minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) 150px;
}

#Top {
    grid-area: s1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:underline;
    background: green;
}

#sideWrapper {
    grid-area: di;
    display: grid;
    grid-template-areas: 
    "s2"
    "s3"
    ;
    background: darkorange;
}

#bottomWrapper {
    display: grid;
    grid-template-areas: 
    "s5 s6"
    ;
    grid-area: d2;
    background: darkorange;
}

#forratter {
    grid-area: s2;
    background: rebeccapurple;
}
#sides {
    grid-area: s3;
    background: yellowgreen;
}
#huvudratter {
    grid-area: s4;
    background: red;
}
#efterratter {
    grid-area: s5;
    background: blue;
}
#drycker {
    grid-area: s6;
    background: cyan;
}